@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url('/images/bg_image.png') no-repeat center center fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.slide-out-left {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-out-left-active {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slide-in-right-active {
  transform: translateX(0);
  opacity: 1;
}